accelerate==0.29.2
clip==1.0
clip_anytorch==2.6.0
datasets==2.14.4
diffusers==0.32.0.dev0
huggingface_hub==0.26.2
image_reward==1.5
imageio==2.34.0
matplotlib==3.8.4
numpy==1.24.4
opencv_python_headless==4.10.0.84
open_clip_torch
packaging==25.0
Pillow==11.2.1
pytorch_lightning==2.1.0
Requests==2.32.3
scipy==1.15.3
tensorflow==2.19.0
torch==2.7.0
torchmetrics==0.11.4
torchvision==0.22.0
tqdm==4.66.5
transformers==4.45.0
wandb==0.19.11
